.co-veiculo {

  ion-item {
    ion-label.radioBox {
      padding-left: 10px;
    }
  }

}

ion-popover.popoverVeiculo{
  --width: 840px;
  --max-width: 100%;

  .btn-catalogo, .btn-use-data {
    margin-right: 15px;
  }

  .btn-apply-info {
    position: absolute;
    top: -50px;
    right: 30px;

  }
}

ion-accordion {
    margin: 0 auto;
}

ion-accordion.accordion-expanding ion-item[slot="header"],
ion-accordion.accordion-expanded ion-item[slot="header"] {
/*    --color: #EBF2FF;
*/
}
