ion-grid#gridLogin{
    height: 100%;
}

ion-row#rowLogin {
    height: 100%;
}

#colLeft ion-img#imgPrimaria {
    position: relative;
    top: 0px;
    left: 0px;
    filter: blur(15px);
    height: 100%;
    width: max-content;
}

#imgPrimaria-fx {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #003E7E;
    height: 100%;
    width: 100%;
    filter: opacity(55%);
}

#colLeft_Interno {
    display: flex;
    justify-content: end;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
}

#formDadosDoSistema {
    border-end-start-radius: 10px;
    border-start-start-radius: 10px;
    background-color: #FFFFFF;
    box-shadow: 5px 10px 12px #333333;
    width: 550px;
    height: 520px;
}

#colLeft ion-img#imgSecundaria {
    position: relative;
    top: 0px;
    left: 0px;
    filter: blur(4px);
    height: 100%;
    width: max-content;
}

#imgSecundaria-fx {
    position: relative;
    top: -520px;
    left: 0px;
    border-end-start-radius: 10px;
    border-start-start-radius: 10px;
    background-color: #003E7E;
    height: 100%;
    width: 100%;
    filter: opacity(55%);
}

#imgLogoScot {
    position: relative;
    top: -1010px;
    left: 40px;
    width: 60%;
}

#imgLogoANSR {
    position: relative;
    top: -700px;
    left: 40px;
    width: 20%;
}

#imgFX {
    position: relative;
    top: -1220px;
    left: 0px;
    width: 100%;
}

ion-col#colRight {
    background-color: #F6F6F6;
    display: flex;
}


#formLogin {
    padding: 60px;
    border-start-end-radius: 10px;
    border-end-end-radius: 10px;
    background-color: #FFFFFF;
    box-shadow: 5px 10px 12px #888888;
    width: 430px;
    height: 520px;
}

#inputUtilizador {
    margin-top: 44px;
}

h4, h6 {
    color: black;
}


ion-button {
    background-color: #003E7E;
}

#inputs {
    text-align: center;
}

    #inputs a {
        color: #003E7E;
        font-weight: 500;
    }

@media only screen and (max-width: 575px) {
    #colRight {
        justify-content: center;
    }

    #formLogin {
        border-radius: 10px;
    }
}