ion-footer::part(native) .input-wrapper{
    justify-content: center;
}

ion-content#modelContent #imgModal{
    position: relative;
    top: 0px;
    left: 0px;
    background-size: cover !important;
    background: lightblue url("../../public/assets/images/img.png") center;
    filter: blur(4px);  
    height: 100%;
    width: 100%;
}

#imgModal-fx {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #003E7E;
    height: 100%;
    width: 100%;
    filter: opacity(55%);
}

#modelContent_Interno {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    color: white;
}

ion-toolbar {
    padding: 20px;
    background-color: #FCFCFC;
}

ion-toolbar ion-buttons {
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
}

ion-toolbar ion-button.btnRound {
    border-radius: 100%;
    width: 32px;
    margin: 10px;
}

ion-toolbar ion-label {
    margin-left: 10px;
}