@media only screen and (max-width: 575px) {
  ion-grid#gridGeral,
  ion-grid.intervenientes {
    padding-left: 10px;
    padding-right: 10px;
  }

  ion-grid#gridGeral,
  ion-grid.dadosInfracao {
    padding-left: 10px;
    padding-right: 10px;
  }

  ion-grid#gridGeral,
  ion-grid.dadosComplementares {
    padding-left: 10px;
    padding-right: 10px;
  }
}

ion-row {
  height: max-content;
}

ion-content {
  padding: 130px;
}

ion-popover.menu#popoverIdentVeiculo {
  --width: 840px;
  --max-width: 100%;
}

.contraordenacao {
  ion-toolbar {
    padding: 0 !important;
  }
}

.contraordenacao .info-content-label {
  background: #fef7ea;
}

body.dark .contraordenacao .info-content-label {
  background: #b3996d;
}

body.dark .contraordenacao ion-toolBar {
  --background: rgb(18 18 18 / 80%);
}


.hiddenImportant {
  display: none !important;
}
