ion-row {
  ion-textarea {
    border: solid 1px darkslategrey;
    border-radius: 10px;
  }
}

ion-popover.select-popover::part(content) {
  --width: 95%;
  --max-width: 400px;
}

// ion-popover ion-select-popover ion-radio-group {
//   ion-item {
//     margin-bottom: 20px;
//   }
// }

.co-infraccao {

  ion-item {
    ion-label.radioBox {
      padding-left: 10px;
    }
  }

}