ion-row {
  ion-textarea {
    border: solid 1px darkslategrey;
    border-radius: 10px;
  }
}

ion-popover.co-infraccao::part(content) {
  --width: 95%;
  --max-width: 400px;
}

ion-radio-group {
  ion-item {
    margin-bottom: 20px;
  }
}
